header.welcome
	a.authorize Авторизоваться
	.developer
		img(src='/assets/img/images_png/i-am.png', alt='Andrew Zhyzhenko')
		h1 Andrew Zhyzhenko
		p Личный сайт веб разработчика
		ul
			li
				a(href="")
			li
				a(href="")
			li
				a(href="")

	