.page-header-blog {
    background: url('/assets/img/images_png/bg_about_mountains_1800.png') no-repeat center;
    background-size: cover;
    background-position: center;
    min-height: 396px;
    width: 100%;
    position: relative;
    &__triangle {
        width: 100%;
        position: absolute;
        bottom: -4px;
        margin: 0 auto;
    }
}

.menu-blog {
    float: right;
    padding: 28px 328px 0 0;
    &__link {
        font-size: 42px;
        color:rgba(252, 252, 252, 0.6);
        &:hover{
            color:#fff;
            transition-duration: 0.3s;
        }
    }
}

.social-blog {
    float: left;
    padding: 28px 0 0 328px;
    font-size: 0;
    &__item {
        display: inline-block;
        vertical-align: top;
    }
    &__link {
        margin-right: 31px;
        font-size: 26px;
        color: rgba(252, 252, 252, 0.6);
        &:hover {
            color: #fff;
            transition-duration: 0.5s;
        }
    }
}

.about-developer-blog {
    width: 320px;
    position: absolute;
    top: 82px;
    left: 50%;
    margin-left: -160px;
    text-align: center;
    color: #fff;
    &__avatar {
        width: 142px;
        border-radius: 50%;
        margin-bottom: 30px;
    }
    &__title {
        font-size: 63px;
        font-family: BERNIERRegular-Regular;
        color: #fff;
        line-height: 44px;
        margin-bottom: 5px;
        &:before,
        &:after {
            content: ' - ';
            color: #fff;
            opacity: 0.3;
            font-size: 35px;
        }
    }
    &__info {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 16px;
    }
    &__link {
        font-size: 26px;
        color: rgba(252, 252, 252, 0.6);
        &:hover {
            color: #fff;
            transition-duration: 0.5s;
        }
    }
}

.blog_img {
    position: absolute;
    width: 303px;
    height: 208px;
    top: 210px;
    left: 50%;
    margin-left: -151.5px;
    background: url('/assets/img/images_png/blog_1800.png') no-repeat center;
}
.traingle-blog{
    fill: #fff;
}
