/*
@font-face{
	font-family: Roboto-Bold;
	src: url(../fonts/roboto/Roboto-Bold.ttf);
}

@font-face{
	font-family: Roboto-BoldItalic;
	src: url(../fonts/roboto/Roboto-BoldItalic.ttf);
}

@font-face{
	font-family: Roboto-Italic;
	src: url(../fonts/roboto/Roboto-Italic.ttf);
}

@font-face{
	font-family: Roboto-Light;
	src: url(../fonts/roboto/Roboto-Light.ttf);
}

@font-face{
	font-family: Roboto-LightItalic;
	src: url(../fonts/roboto/Roboto-LightItalic.ttf);
}

@font-face{
	font-family:Roboto-Medium;
	src: url(../fonts/roboto/Roboto-Medium.ttf);
}

@font-face{
	font-family: Roboto-MediumItalic;
	src: url(../fonts/roboto/Roboto-MediumItalic.ttf);
}

@font-face{
	font-family: Roboto-Regular;
	src: url(../fonts/roboto/Roboto-Regular.ttf);
}

@font-face{
	font-family: BERNIERRegular-Regular;
	src: url(../fonts/bernier/BERNIERRegular-Regular.otf);
}
*/
@font-face {
    font-family: 'BERNIERRegular-Regular';
    src: url('../fonts/bernier/bernierregular-regular.eot');
    src: url('../fonts/bernier/bernierregular-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bernier/bernierregular-regular.woff') format('woff'),
         url('../fonts/bernier/bernierregular-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


//../fonts/bernier/

