header.page-header.clearfix
	.page-header__conteiner.clearfix
		ul.social
			li.social__item
				a(href='https://vk.com/id11582638' class='social__link social__link_vk')
					i(class='fa fa-vk' aria-hidden='true')
			li.social__item
				a(href='https://github.com/Andryz' class='social__link social__link_git')
					i(class='fa fa-github-alt' aria-hidden='true')
			li.social__item
				a(href='https://www.linkedin.com/in/andrew-zhyzhenko-731b59b3?trk=nav_responsive_tab_profile' class='social__link social__link_linkedin')
					i(class='fa fa-linkedin' aria-hidden='true')
		.menu
			.menu__link
				.band
				.band
				.band
			ul.menu__list
				li.menu__list__item
					a(href="work.html" class='menu__list__link') Мои работы
				li.menu__list__item 
					a(href="about_me.html" class='menu__list__link') Обо мне
				li.menu__list__item
					a(href="blog.html" class='menu__list__link') Блог
				li.menu__list__item
					a(href="index.html" class='menu__list__link') Авторизация
	.about-developer
		.about-developer__img-wrapper
			img.about-developer__avatar(src='assets/img/images_png/i-am.png' alt='Andrew Zhyzhenko')
		h1.about-developer__name Andrew Zhyzhenko
		p.about-developer__info Личный сайт веб разработчика
	.page-header__triangle
		a(href='#' class='about-developer__link about-developer__link_arrow')
				i(class='fa fa-chevron-down' aria-hidden='true')
		svg.traingle-work(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 1000 85', preserveaspectratio='none')
			polygon(points='0,0   0,86   500.8,86   500.8,84.5')
			polygon(points='1000,0   1000,86   500,86   500,84.5')
	.portfolio_img