.page-header-blog.clearfix
	.blog_img
	.page-header__conteiner.clearfix
		ul.social
			li.social__item
				a(href='https://vk.com/id11582638' class='social__link social__link_vk')
					i(class='fa fa-vk' aria-hidden='true')
			li.social__item
				a(href='https://github.com/Andryz' class='social__link social__link_git')
					i(class='fa fa-github-alt' aria-hidden='true')
			li.social__item
				a(href='https://www.linkedin.com/in/andrew-zhyzhenko-731b59b3?trk=nav_responsive_tab_profile' class='social__link social__link_linkedin')
					i(class='fa fa-linkedin' aria-hidden='true')
		.menu
			a(href='#' class='menu__link menu__link_bars')
				i(class='fa fa-bars' aria-hidden='true')
	.about-developer-blog
		.about-developer-blog__img-wrapper
			img.about-developer-blog__avatar(src='assets/img/images_png/i-am.png' alt='Andrew Zhyzhenko')
		p.about-developer-blog__title БЛОГ
		p.about-developer-blog__info Статьи, которые я написал
	.page-header-blog__triangle
		svg.traingle-blog(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 1000 85', preserveaspectratio='none')
			polygon(points='0,0   0,86   500.8,86   500.8,84.5')
			polygon(points='1000,0   1000,86   500,86   500,84.5')
