extends ../common/_template

block variables
	- var title = 'About me'

block header
	include ../about_me/header_about

block main
	include ../about_me/main_about
	
block content
	include ../about_me/contact_about
	
block footer
	include ../about_me/footer_about