extends ../_template

block variables
	- var title = 'Home page'

block content
	include ../common/about_me/header_about

block main
	include ../common/about_me/main_about
	
block content
	include ../common/about_me/contact_about
	
block footer
	include ../common/about_me/footer_about