extends ../common/_template

block variables
	- var title = 'Blog'

block header
	include ../blog/header_blog

block main
	include ../blog/articles_blog
	
block footer
	include ../about_me/footer_about