extends ../_template

block variables
	- var title = 'Home page'

block header
	include ../common/blog/header_blog

block main
	include ../common/work/portfolio_work
	
block footer
	include ../common/about_me/footer_about