extends ../_template

block variables
	- var title = 'Home page'

block header
	include ../common/about_me/header_about

block main
	include ../common/work/portfolio_work
	
block content
	include ../common/work/form_work
	
block footer
	include ../common/about_me/footer_about