extends ../common/_template

block variables
	- var title = 'Work'

block header
	include ../work/header_work

block main
	include ../work/portfolio_work
	
block content
	include ../work/form_work
	
block footer
	include ../about_me/footer_about