header.page-header.clearfix
	ul.social
		li.social__item
			a(href='#' class='social__link social__link_vk')
				i(class='fa fa-vk' aria-hidden='true')
		li.social__item
			a(href='#' class='social__link social__link_git')
				i(class='fa fa-github-alt' aria-hidden='true')
		li.social__item
			a(href='#' class='social__link social__link_linkedin')
				i(class='fa fa-linkedin' aria-hidden='true')
	.menu
		a(href='#' class='menu__link menu__link_bars')
			i(class='fa fa-bars' aria-hidden='true')
	.about-developer
		.about-developer__img-wrapper
			img.about-developer__avatar(src='assets/img/images_png/i-am.png' alt='Andrew Zhyzhenko')
		h1.about-developer__name Andrew Zhyzhenko
		p.about-developer__info Личный сайт веб разработчика
		a(href='#' class='about-developer__link about-developer__link_arrow')
				i(class='fa fa-chevron-down' aria-hidden='true')
	.portfolio_img