main.page-main.clearfix
	.about-me
		.about-me__title ОБО МНЕ
			span.about-me__title__img-wrapper
				img.about-me__bg(src='assets/img/images_png/about_1800.png' alt='text_about')
		.about-me__detail
			img.about-me__detail__avatar(src='assets/img/images_png/i-am2.png' alt='Andrew Zhyzhenko')
			p.about-me__detail__title КТО Я
			p.about-me__detail__text.
				Я веб разработчик из Киева. Мне 25 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
			p.about-me__detail__text.
				Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
	//- НАВЫКИ
	.skills
		p.skills__title.skills__title_hyphen ЧЕМ Я МОГУ БЫТЬ
		p.skills__title ВАМ ПОЛЕЗЕН
		P.skills__description.
			 Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачина Backend. Но давайте по порядку.
		p.programming Frontend
		ul.programming__items
			li.programming__technologies.programming__technologies_html HTML5
			li.programming__technologies.programming__technologies_css CSS3
			li.programming__technologies.programming__technologies_js JavaScript & jQuery
		p.programming Backend
		ul.programming__items
			li.programming__technologies.programming__technologies_php PHP
			li.programming__technologies.programming__technologies_sql mySQL
			li.programming__technologies.programming__technologies_node Node.js & npm
			li.programming__technologies.programming__technologies_mongo Mongo.db
		p.programming WorkFlow
		ul.programming__items
			li.programming__technologies.programming__technologies_git Git
			li.programming__technologies.programming__technologies_gulp Gulp
			li.programming__technologies.programming__technologies_bower Bower