.my-work__title МОИ РАБОТЫ
	span.my-work__title__img-wrapper
		img(src='assets/img/images_png/work_1800.png' alt='text_work')
.slider.clearfix
	.slider__portfolio
		.slider__portfolio__img
			img(src='assets/img/images_png/portfolio.png' alt='images portfolio')
	.slider__detail
			.slider__detail__wrapper 
				.slider__detail__title САЙТ ШКОЛЫ ОНЛАЙН ОБРАЗОВАНИЯ
				.slider__detail__technologies HTML, CSS, JAVASCRIPT
				.slider__detail__btn-view
					a(href="#" class='btn-view__link')
						i(class='fa fa-link' aria-hidden='true')
						| Посмотреть сайт